#Monitor configuration settings
#Tue Apr 29 04:57:27 UTC 2025
wm.monitor.dbRetries=3
wm.monitor.useExactMatch=false
wm.monitor.myWebmethodsHost=10.209.23.56
wm.monitor.dlsSuperUser=Administrator
wm.monitor.aclSetting=7
wm.monitor.resubmitOnLocalIS=true
wm.monitor.myWebmethodsPassword=
wm.monitor.addMwUsertoMonitorACL=true
wm.monitor.useCache=false
wm.monitor.dlsEnabled=false
wm.monitor.myWebmethodsPort=8585
wm.monitor.archiveResults.days=14
wm.monitor.jdbcArchive=false
wm.monitor.myWebmethodsPath=
wm.monitor.connTimeout=10000
wm.monitor.etlBatchSize=1000
wm.monitor.myWebmethodsTransport=http
wm.monitor.myWebmethodsUserName=Administrator
