<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S9:EVI.Onboarding cliente iniciado:true##S50:EVF.:true##S20:CA.Call 1:true##S52:CA.Call 2:true##S55:TS.Establecer correlación:true##S43:Gateway1:true##S10:pruebaProcessError:true##S46:EIN.Termina proceso:true##S12:AU.Aceptar términos y condiciones:true##S23:Error:true##S48:TS.Termina proceso:true##S14:AU.Validar datos personales:true##S16:EVF.Onboarding cliente finalizado:true##S71:AU.Valida datos personales:true##S61:Gateway2:true##S63:COD.Exitoso:true##"/>
</businessProcessConfig>
