<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="globalVariables" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">apigee_host</value>
        <value name="value">https://dev-apigee.bancoppel.space</value>
        <value name="isSecure">false</value>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="key">host_comparador</value>
        <value name="value">https://fund-dom-party-lifecycle-management-dev-tahmlz.66fh1w.usa-e1.cloudhub.io/sales/</value>
        <value name="isSecure">false</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
