<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S40:TS.Validar teléfono y generar OTP:true##S31:COD.Telefono asignado:true##S42:TS.Validar OTP:true##S30:COC. Reenvio_EdiciónTel:true##S41:TU.Ingresar código OTP:true##S33:COC.Salida:true##S44:TU.Mostrar teléfono válido:true##S32:EVI.Validación teléfono inciada:true##S43:TU.Mostrar mensaje salida:true##S35:COC.OTP correcto:true##S34:EVF.Validación teléfono cancelada:true##S37:EVF.Validación teléfono finalizada:true##S36:COC. OTP inorrecto:true##S39:TS.RegistrarDatosCliente:true##S144:COC.Default:true##S38:TS.Registrar aprobación:true##S140:TU.Editar teléfono:true##S141:COD.Edita tarea:true##S152:TS.Error_validaciónTelefono:true##S156:COC.Edición:true##S162:TS.Inicializar:true##S169:TS.Regresar flujo principal:true##S180:TA.Cancelar instancia:true##S183:Timer1:true##S185:EVI.Cancelar proceso:true##"/>
</businessProcessConfig>
