<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S9:EVI.Videoselfie iniciado:true##S71:COC.cancel:true##S40:TS.Registrar aprobación videoselfie:true##S75:TS.Error_Videselfie:true##S30:COD.Termina instancia:true##S44:COC.Loop:true##S21:EVF.Videoselfie cancelado:true##S10:TU.Mostrar prueba vida y VS:true##S32:TS.Regresar flujo principal:true##S54:TU.Mostrar vselfie valida:true##S46:TU.Tomar video selfie:true##S12:EVF.Videoselfie finalizado:true##S34:EVF.Prueba vida cancelado 1:true##S48:TS.Validar selfie:true##S36:EVF.Prueba vida completado 1:true##S25:TS.Inicializar prueba vida:true##S28:COD.executorUserId:true##S16:COD.Score:true##S38:TU.Mostrar QR:true##S19:TS.Regresar flujo principal:true##"/>
</businessProcessConfig>
