<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="EmailListener:imap:anoche@playdigitalconsulting.com:25" javaclass="com.wm.util.Values">
      <value name="port">-1</value>
      <value name="protocol">Email</value>
      <value name="pkg">WmPublic</value>
      <value name="enabled">false</value>
      <value name="key">EmailListener:imap:anoche@playdigitalconsulting.com:25</value>
      <value name="portAlias">serverEmailDEV</value>
      <value name="portDescription">puerto de correo electrónico ambiente DEV </value>
      <value name="factoryKey">webMethods/Email</value>
      <value name="configURL">/WmRoot/configEmail.dsp</value>
      <value name="provider">webMethods</value>
      <value name="host">playdigitalconsulting.com</value>
      <value name="user">anoche</value>
      <value name="type">imap</value>
      <value name="interval">100</value>
      <value name="num_threads">0</value>
      <value name="server_port">25</value>
      <value name="gservice"></value>
      <value name="dservice"></value>
      <value name="remove">yes</value>
      <value name="bad_remove">yes</value>
      <value name="break_mmsg">yes</value>
      <value name="urlEncodedBody">yes</value>
      <value name="includeHdrs">no</value>
      <value name="reply">no</value>
      <value name="replyonerr">no</value>
      <value name="multithread">no</value>
      <value name="logout">no</value>
      <value name="authorize">yes</value>
      <value name="runuser"></value>
      <value name="tlsSettings">None</value>
      <value name="trustStore"></value>
      <value name="auth">Basic</value>
      <value name="authURLID"></value>
      <value name="clientID"></value>
      <value name="scope"></value>
      <value name="accessTokenURL"></value>
      <value name="redirectURL"></value>
      <null name="accessToken"/>
      <value name="handle">wm.is.admin.listenMgr.EmailListener:imap:anoche@playdigitalconsulting.com:25</value>
      <value name="clientSecretHandle">wm.is.admin.listenMgr.EmailListener:imap:anoche@playdigitalconsulting.com:25:clientSecretHandle</value>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="EmailListener:imap:anoche@playdigitalconsulting.com:25" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
          <value>wm.server.csrfguard:replaceSpecialCharacters</value>
          <value>wm.server:disconnect</value>
          <value>wm.server:ping</value>
          <value>wm.server.tx:end</value>
          <value>wm.server:getClusterNodes</value>
          <value>wm.server:getServerNodes</value>
          <value>wm.server.csrfguard:isCSRFGuardEnabled</value>
          <value>wm.server:noop</value>
          <value>wm.server.csrfguard:getCSRFSecretToken</value>
          <value>wm.server.tx:execute</value>
          <value>wm.server.tx:start</value>
          <value>wm.server:connect</value>
          <value>wm.server.tx:restart</value>
        </list>
      </record>
      <value name="key">EmailListener:imap:anoche@playdigitalconsulting.com:25</value>
    </record>
  </record>
</Values>
