<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="sources" javaclass="com.wm.util.Values">
    <record name="IS_Bancoppel" javaclass="com.wm.util.Values">
      <value name="alias">IS_Bancoppel</value>
      <value name="url">10.209.23.85</value>
      <value name="user">1521</value>
      <value name="args">com.wm.dd.jdbc.mysql.MySQLDriver</value>
      <value name="minconns">20</value>
      <value name="maxconns">20</value>
      <value name="expiretime">1000</value>
      <value name="handle">wm.is.admin.wmdb.IS_Bancoppel</value>
    </record>
  </record>
</Values>
