<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S30:TU.Mostrar mensaje salida:true##S9:EVI.PEP iniciado:true##S60:COC.no PEP:true##S52:COD.Es PEP?:true##S44:TS.Inicializar:true##S10:TU.Ingresar datos PEP:true##S21:TS.Recuperar calificación PEP:true##S57:COD.PEP family:true##S68:TS.Error_PEP:true##S34:EVF.PEP finalizado:true##S26:COD.Calificación PEP - lista negra:true##S36:EVF.PEP Cancelado:true##S69:TS.Regresar flujo principal:true##S39:TS.Registrar estado crédito PEP:true##S16:TS.Crear registro PEP:true##S76:TS.inicializar variables PEP:true##"/>
</businessProcessConfig>
