<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="false" minLogLevel="5"
    optimizeLocally="false" volatileTracking="false" volatileTransition="false"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S11:AS.Consulta histórico vacaciones:true##S55:RN.Política vacaciones:true##S10:EVI.Solicitud vacaciones ingresada:true##S21:GWC.registra respuesta:true##S13:AU.Validar solicitud vacaciones:true##S24:AS.Actualizar registro vacaciones:true##S15:AU.Registrar solicitud vacaciones:true##S47:GWD.Cumple política:true##S58:GWD.Loop prueba:true##S17:GWD.¿Solicitud aprobada?:true##S28:EVF.Solicitud vacaciones completada:true##S61:GWC.Loop prueba:true##"/>
</businessProcessConfig>
