<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S9:EVI.Producto N2 iniciado:true##S40:Perfilamiento:true##S16:Validación Teléfono:true##S18:Validacion Cliente:true##S48:Bienvenida:true##S47:Validación Correo:true##S45:Servicios Digitales:true##S12:Términos y Condiciones:true##S46:Integración Expediente Digital:true##S10:Preparación:true##S44:Selección Oferta:true##S22:EVF.Producto N2 completado:true##S42:Validación Domicilio:true##"/>
</businessProcessConfig>
