<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S8:EVI.Validación teléfono inciada:true##S9:COC. Reenvio:true##S20:TS.RegistrarDatosCliente:true##S11:COC.OTP correcto:true##S10:EVF.Validación teléfono cancelada:true##S21:TU.Mostrar mensaje salida:true##S13:COC.Salida:true##S12:COD.Telefono asignado:true##S15:TS.Registrar aprobación:true##S14:EVF.Validación teléfono finalizada:true##S16:TS.RegistrarDatosCliente:true##S19:TU.Mostrar teléfono válido:true##S18:TS.Validar OTP:true##S105:TU. Ingresar codigo OPT:true##S114:COC. OTP Correcto:true##"/>
</businessProcessConfig>
