<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S62:TU.Mostrar mesaje salida:true##S70:COC.Finaliza:true##S40:COC.Continua:true##S50:TS.Validar rating crédito:true##S30:TS_Iniciar resourceprovider ???:true##S74:TS.Inicializar:true##S66:EVF.PLD cancelado:true##S11:TU.Seleccionar origen fondos:true##S44:TU.Registrar persona crédito:true##S77:TS.Regresar flujo principal:true##S10:EVI.PLD iniciado:true##S56:COD.evalua blacklist:true##S23:TS.Actualizar datos prospecto:true##S14:COD.Origen fondos:true##S36:COD.Institucion financiera/ educativa:true##S58:TS.Registrar estado crédito BL:true##S16:EVF.PLD finalizado:true##S18:TU.Seleccionar persona crédito:true##"/>
</businessProcessConfig>
