<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S20:Gateway1:true##S22:TS.Activar tarjeta TDC:true##S10:TS.Activar usuario omnicanal:true##S24:TS.Regresa flujo principal:true##S9:Start Event1:true##S26:EVF.Bienvenida TDC completada:true##S14:TS.Actualizar datos cliente:true##S39:S.Error_BTDC:true##S16:TS.Actualizar información tarjeta:true##S18:TS.Persistir información producto contratado:true##S29:EVF.Bienvenida TDC cancelado:true##"/>
</businessProcessConfig>
