<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="true" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S11:TS.Inicializar:true##S10:TU.Seleccionar perfil transaccional:true##S8:EVI.Perfil transaccional iniciado:true##S9:EVF.Perfil transanccional finalizado:true##S18:TS.Capturar perfil transaccional:true##"/>
</businessProcessConfig>
