<?xml version="1.0" encoding="UTF-8"?>
<businessProcessConfig xmlns="http://www.webmethods.com/bpm/2006/">
  <stages/>
  <qualityOfService expressPipeline="false" minLogLevel="5"
    optimizeLocally="true" volatileTracking="false" volatileTransition="true"/>
  <edaIntrinsics processErrorEvent="false" processEvent="false"
    processLogCustomIdEvent="false" processLogEvent="false"
    stepErrorEvent="false" stepEvent="false" stepLoopEvent="false" stepTransitionEvent="false"/>
  <easeOfOperations enableProcessForTrackingInTarget="false"
    enableProcessInTarget="false" stepsEnabledForResubmitInTarget="S21:COD.bypass:true##S24:COC.bypass:true##S9:EVI.Servicios digitales iniciados:true##S51:COD.Tipo producto:true##S31:COD.Modyo:true##S53:TS.Actualizar servicios digitales TDC:true##S41:TS.Aprobar servicios digitales:true##S33:COD.stopInstance:true##S55:COC.2:true##S10:TU.Confirmar servicios digitales:true##S43:COC.1:true##S65:TS.Error_ServDigitales:true##S35:EVF.Servicios digitales completado 1:true##S46:COD.hasErrorAprobar:true##S12:EVF.Servicios digitales finalizados:true##S37:TS.Regresar flujo principal 1:true##S48:TU.Reintentar aprobación SD:true##S39:EVF.Servicios digitales cancelado 1:true##S16:TS.Inicializar servDigitales:true##"/>
</businessProcessConfig>
